$black: #302f35;
$blue: #438aff;
$blue2: #256be5;
$hover: #99c6ea;

@mixin f300 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin f400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin f500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin f700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@mixin f900 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
